eidsrv-testbed-common/src/main/resources/ics_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://trdoccheck.bsi.bund.de/server/ics" xmlns:sics="http://trdoccheck.bsi.bund.de/server/ics"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation xml:lang="en" xml:space="preserve">The Impelementation Conformity Statement as issued by the manufacturer of the test candidate</xs:documentation>
	</xs:annotation>
	<xs:element name="Ics" type="sics:ics">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The element ICS contains all data about the test candidate that was provided by the manufacturer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:group name="ics">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the ICS elements.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Metadata" type="sics:ics.metadata">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains metadata about the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="API" type="sics:ics.api">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the supported eCard-API version of the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Profiles" type="sics:ics.profiles">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the profiles that are supported by the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cryptography" type="sics:ics.crypto">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the cryptographic algorithms and parameters supported by the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:group>

	<xs:complexType name="ics">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the ICS elements.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Metadata" type="sics:ics.metadata">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains metadata about the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="API" type="sics:ics.api">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the supported eCard-API version of the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Profiles" type="sics:ics.profiles">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the profiles that are supported by the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cryptography" type="sics:ics.crypto">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the cryptographic algorithms and parameters supported by the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<!-- Metadata -->

	<xs:complexType name="ics.metadata">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the Metadata elements.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="eCardApiUrl" type="sics:ics.notBlankURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URL used on the TLS2 connection.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eIdInterfaceiUrl" type="sics:ics.notBlankURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URL used on the TLS1-2 connection for non-SAML tests.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamlUrl" type="sics:ics.notBlankURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URL used on the TLS1-2 connection for SAML tests.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachedTcTokenUrl" type="sics:ics.notBlankURI"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URL of the webpage containing the TC Token address (the page containing the link to http://127.0.0.1:24727/eID-Client?tcTokenURL=https...).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the product name of the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vendor" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the name of the test candidate vendor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionMajor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the major version number of the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionMinor" type="xs:nonNegativeInteger"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the minor version number of the test candidate, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionSubminor" type="xs:nonNegativeInteger"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the subminor version number of the test candidate, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultiClientCapable" type="xs:boolean"
				minOccurs="0" default="true">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the subminor version number of the test candidate, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<!-- API info -->

	<xs:complexType name="ics.api">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the eCard API declaration elements.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ApiVersionMajor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the major version number of the eCard-API supported by the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApiVersionMinor" type="xs:nonNegativeInteger"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the minor version number of the eCard-API supported by the test candidate, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApiVersionSubminor" type="xs:nonNegativeInteger"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the subminor version number of the eCard-API supported by the test candidate, if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<!-- Profiles -->

	<xs:complexType name="ics.profiles">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The lists of profiles that are supported by the test candidate.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="MandatoryProfile" type="sics:ics.mandatoryprofile"
				minOccurs="1" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>This list contains the mandatory profiles
						supported by the candidate.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptionalProfile" type="sics:ics.optionalprofile"
				minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>This list contains the optional profiles
						supported by the candidate.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>


	<!-- Cryptography -->

	<xs:complexType name="ics.crypto">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the Cryptography.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="eCard-Api" type="sics:ics.crypto.ecardapi">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the cryptographic algorithms and parameters supported by the test candidate on the eCard-API interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eID-Interface" type="sics:ics.crypto.eidinterface"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the cryptographic algorithms and parameters supported by the test candidate on the eID-Interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SAML" type="sics:ics.crypto.saml"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the cryptographic algorithms and parameters supported by the test candidate during SAML communication.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChipAuthentication" type="sics:ics.crypto.ca">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the cryptographic algorithms and parameters for XML signature generation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ics.crypto.ecardapi">
		<xs:sequence>
			<xs:element name="PskChannel" type="sics:ics.crypto.ecardapi.psktls"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The TLS protocol version and the respective
						ciphersuites supported while communicating over TLS2 on the
						eCard-API Interface.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachedServer" type="sics:ics.crypto.tls"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The TLS protocol version and the respective
						ciphersuites supported while communicating on the eCard-API
						Interface in attached mode.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ics.crypto.ecardapi.psktls">
		<xs:sequence>
			<xs:element name="TLS" type="sics:ics.crypto.tls.type"
				maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the TLS versions supported by the test candidate on the PSK channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.crypto.eidinterface">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="TLS" type="sics:ics.crypto.eidinterface.tls.type.ec.and.signature.with.clientcertificates">
				<xs:annotation>
					<xs:documentation>This element contains information about the
						transport layer security mechanisms supported on the
						eID-Interface.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XmlSignature" type="sics:ics.xmlsignatures">
				<xs:annotation>
					<xs:documentation>This element contains information about the
						transport layer security mechanisms supported on the
						eID-Interface.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="ics.crypto.eidinterface.tls.type.ec.and.signature.with.clientcertificates">
		<xs:complexContent>
			<xs:extension base="sics:ics.crypto.tls.type.ec.and.signature">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="ClientCertificates"
						type="sics:ics.crypto.eidinterface.tls.clientcertificates.type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the TLS versions supported by the test candidate.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ics.crypto.eidinterface.tls.clientcertificates.type">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="ClientCertificate" minOccurs="1"
				type="sics:ics.crypto.eidinterface.tls.clientcertificate">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the types and signature algorithms for client certificates supported by the candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ics.crypto.eidinterface.tls.clientcertificate">
		<xs:all>
			<xs:element name="Type" type="sics:ics.tls.clientcertificate.type">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the type of the client certificate supported by the candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureAlgorithm" type="sics:ics.tls.signaturealgorithms">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the type of the client certificate supported by the candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="TransportSecurity" type="sics:ics.crypto.tls">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XmlSignature" type="sics:ics.xmlsignatures">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XmlEncryption" type="sics:ics.crypto.saml.xmlencryption">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml.xmlencryption">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the XML encryption.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="KeyTransportAlgorithms"
				type="sics:ics.crypto.saml.xmlencryption.keytransport">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URI of a supported XML encryption algorithm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KeyAgreementAlgorithms"
				type="sics:ics.crypto.saml.xmlencryption.keyagreement.algorithms">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URI of a supported algorithm for XML encryption.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentEncryptionAlgorithms"
				type="sics:ics.crypto.saml.xmlencryption.contentencryption" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml.xmlencryption.keytransport">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="TransportAlgorithm"
				type="sics:ics.crypto.saml.xmlencryption.keytransport.algorithm" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml.xmlencryption.keytransport.algorithm">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Parameter" type="sics:ics.bitlength" />
		</xs:sequence>
		<xs:attribute name="URI"
			type="sics:ics.xmlsec.encryption.key.transport.uri" use="required" />
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml.xmlencryption.keyagreement.algorithms">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="AgreementAlgorithm"
				type="sics:ics.crypto.saml.xmlencryption.keyagreement.algorithm" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml.xmlencryption.keyagreement.algorithm">
		<xs:all>
			<xs:element name="Parameters" type="sics:ics.xmlsecurity.parameters" />
			<xs:element name="KeyWrappingUri"
				type="sics:ics.xmlsec.encryption.key.agreement.wrapping.uri" />
		</xs:all>
		<xs:attribute name="URI"
			type="sics:ics.xmlsec.encryption.key.agreement.uri" use="required" />
	</xs:complexType>

	<xs:complexType name="ics.crypto.saml.xmlencryption.contentencryption">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="URI" type="sics:ics.xmlsec.encryption.content.uri">
				<xs:annotation>
					<xs:documentation>This element contains the URI of a supported XML
						content encryption algorithm.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.crypto.ca">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the Chip Authentication.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="2" maxOccurs="unbounded">
			<xs:element name="Algorithm" type="sics:ics.ca">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the name of a supported Chip Authentication algorithm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DomainParameter" type="sics:ics.ca.domainparams"></xs:element>
		</xs:choice>
	</xs:complexType>


	<!-- Shared complex types -->
	
	<xs:complexType name="ics.crypto.tls">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the Cryptography algorithms and parameters used by the connections of the test candidate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TLS" type="sics:ics.crypto.tls.type.ec.and.signature"
				maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the TLS versions supported by the test candidate on the respective channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.crypto.tls.type">
		<xs:choice>
			<xs:element name="Ciphersuites" type="sics:ics.crypto.tls.ciphersuites.type">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the ciphersute supported by the test candidate on the given channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="version" type="sics:ics.tls.version"
			use="required">
			<xs:annotation>
				<xs:documentation>The attribute which specifies the TLS versions
					supported by the test candidate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ics.crypto.tls.type.ec.and.signature">
		<xs:complexContent>
			<xs:extension base="sics:ics.crypto.tls.type">
				<xs:choice minOccurs="1" maxOccurs="2">
					<xs:element name="EllipticCurves"
						type="sics:ics.crypto.tls.ellipticcurves" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the TLS versions supported by the test candidate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SignatureAlgorithms"
						type="sics:ics.crypto.tls.signaturealgorithms" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the TLS versions supported by the test candidate.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ics.crypto.tls.ellipticcurves">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the Cryptography algorithms and parameters used by the connections of the test candidate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamedCurve" type="sics:ics.ellipticcurve" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the TLS versions supported by the test candidate on the respective channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.crypto.tls.ciphersuites.type">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Ciphersuite" minOccurs="1"
				type="sics:ics.tls.ciphersuite">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the ciphersuites supported by the test candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ics.crypto.tls.signaturealgorithms">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Algorithm" minOccurs="1"
				type="sics:ics.tls.signaturealgorithms">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the signature algorithms supported by the test candidate on the given TLS channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ics.xmlsignatures">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">The data type for the XML signature generation.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Signature" type="sics:ics.xmlsignature">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">The element which specifies the complete XML signature 
		algorithm specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ics.xmlsignature">
		<xs:annotation>
			<xs:documentation xml:lang="en" xml:space="preserve">This element contains the data specifying the supported XML encryption algorithms.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Digest" type="sics:ics.xmlsec.signature.digest">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URI of the digest method algorithm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Canonicalization"
				type="sics:ics.xmlsec.signature.canonicalization">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URI of the canonicalization method algorithm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parameters" type="sics:ics.xmlsecurity.parameters">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This optional element contains the bit length of the signature algorithm.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="URI" type="sics:ics.xmlsec.signature.uri"
			use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en" xml:space="preserve">This element contains the URI of a supported XML signature algorithm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ics.xmlsecurity.parameters">
		<xs:choice maxOccurs="unbounded" minOccurs="1">
			<xs:element name="BitLength" type="sics:ics.bitlength"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This optional element contains the bit length of the signature algorithm. This element is only applicable for non-EC algorithms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamedCurve" type="sics:ics.ellipticcurve"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en" xml:space="preserve">This optional element contains a SINGLE named curve supported by the signature algorithm.  This element is only applicable for EC algorithms.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>


	<!-- Simple types -->

	<xs:simpleType name="ics.xmlsec.signature.uri">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#dsa-sha1" />
			<xs:enumeration value="http://www.w3.org/2009/xmldsig11#dsa-sha256" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-md5" />
			<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha224" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha384" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#rsa-ripemd160" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha1" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha224" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha256" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha384" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha512" />
			<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#hmac-sha1" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha224" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha256" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha384" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha512" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.xmlsec.signature.digest">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#md5" />
			<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#sha224" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#sha256" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#sha384" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#sha512" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#ripemd160" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.xmlsec.signature.canonicalization">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
			<xs:enumeration
				value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments" />
			<xs:enumeration value="http://www.w3.org/2006/12/xml-c14n11" />
			<xs:enumeration value="http://www.w3.org/2006/12/xml-c14n11#WithComments" />
			<xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#" />
			<xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#WithComments" />
			<xs:enumeration value="http://www.w3.org/2010/10/xml-c14n2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.xmlsec.encryption.content.uri">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes128-cbc" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#aes128-gcm" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#aes192-gcm" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#aes256-gcm" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#camellia128-cbc" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#camellia192-cbc" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#camellia256-cbc" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.xmlsec.encryption.key.transport.uri">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#rsa-oaep" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.xmlsec.encryption.key.agreement.uri">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#dh" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#dh-es" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#ECDH-ES" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.xmlsec.encryption.key.agreement.wrapping.uri">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#kw-tripledes" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#kw-aes128" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#kw-aes-128-pad" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#kw-aes192" />
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#kw-aes256" />
			<xs:enumeration value="http://www.w3.org/2009/xmlenc11#kw-aes-256-pad" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#kw-camellia128" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#kw-camellia192" />
			<xs:enumeration
				value="http://www.w3.org/2001/04/xmldsig-more#kw-camellia256" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.tls.signaturealgorithms">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SHA1withRSA" />
			<xs:enumeration value="SHA224withRSA" />
			<xs:enumeration value="SHA256withRSA" />
			<xs:enumeration value="SHA384withRSA" />
			<xs:enumeration value="SHA512withRSA" />
			<xs:enumeration value="SHA1withDSA" />
			<xs:enumeration value="SHA224withDSA" />
			<xs:enumeration value="SHA256withDSA" />
			<xs:enumeration value="SHA384withDSA" />
			<xs:enumeration value="SHA512withDSA" />
			<xs:enumeration value="SHA1withECDSA" />
			<xs:enumeration value="SHA224withECDSA" />
			<xs:enumeration value="SHA256withECDSA" />
			<xs:enumeration value="SHA384withECDSA" />
			<xs:enumeration value="SHA512withECDSA" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.tls.ciphersuite">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TLS_DH_DSS_WITH_3DES_EDE_CBC_SHA" />
			<xs:enumeration value="TLS_DH_RSA_WITH_3DES_EDE_CBC_SHA" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_3DES_EDE_CBC_SHA" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_128_CBC_SHA" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_128_CBC_SHA" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_128_CBC_SHA" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_128_CBC_SHA" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_256_CBC_SHA" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_256_CBC_SHA" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_256_CBC_SHA" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_256_CBC_SHA" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_RSA_WITH_3DES_EDE_CBC_SHA" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_256_GCM_SHA384" />
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_256_GCM_SHA384" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_RC4_128_SHA" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_3DES_EDE_CBC_SHA" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_CBC_SHA" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_CBC_SHA" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_GCM_SHA384" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.tls.clientcertificate.type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rsa_sign" />
			<xs:enumeration value="dss_sign" />
			<xs:enumeration value="rsa_fixed_dh" />
			<xs:enumeration value="dss_fixed_dh" />
			<xs:enumeration value="rsa_ephemeral_dh_RESERVED" />
			<xs:enumeration value="dss_ephemeral_dh_RESERVED" />
			<xs:enumeration value="fortezza_dms_RESERVED" />
			<xs:enumeration value="ecdsa_sign" />
			<xs:enumeration value="rsa_fixed_ecdh" />
			<xs:enumeration value="ecdsa_fixed_ecdh" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.tls.version">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SSLv3" /> <!-- This is only used for negative testing purposes. Do NOT implement it -->
			<xs:enumeration value="TLSv10" />
			<xs:enumeration value="TLSv11" />
			<xs:enumeration value="TLSv12" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.ellipticcurve">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sect163k1" />
			<xs:enumeration value="sect163r1" />
			<xs:enumeration value="sect163r2" />
			<xs:enumeration value="sect193r1" />
			<xs:enumeration value="sect193r2" />
			<xs:enumeration value="sect233k1" />
			<xs:enumeration value="sect233r1" />
			<xs:enumeration value="sect239k1" />
			<xs:enumeration value="sect283k1" />
			<xs:enumeration value="sect283r1" />
			<xs:enumeration value="sect409k1" />
			<xs:enumeration value="sect409r1" />
			<xs:enumeration value="sect571k1" />
			<xs:enumeration value="sect571r1" />
			<xs:enumeration value="secp160r1" />
			<xs:enumeration value="secp160r2" />
			<xs:enumeration value="secp192k1" />
			<xs:enumeration value="secp192r1" />
			<xs:enumeration value="secp224k1" />
			<xs:enumeration value="secp224r1" />
			<xs:enumeration value="secp256k1" />
			<xs:enumeration value="secp256r1" />
			<xs:enumeration value="secp384r1" />
			<xs:enumeration value="secp521r1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.ca">
		<xs:restriction base="xs:string">
			<xs:enumeration value="id-CA-DH-3DES-CBC-CBC" />
			<xs:enumeration value="id-CA-DH-AES-CBC-CMAC-128" />
			<xs:enumeration value="id-CA-DH-AES-CBC-CMAC-192" />
			<xs:enumeration value="id-CA-DH-AES-CBC-CMAC-256" />
			<xs:enumeration value="id-CA-ECDH-3DES-CBC-CBC" />
			<xs:enumeration value="id-CA-ECDH-AES-CBC-CMAC-128" />
			<xs:enumeration value="id-CA-ECDH-AES-CBC-CMAC-192" />
			<xs:enumeration value="id-CA-ECDH-AES-CBC-CMAC-256" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.ca.domainparams">
		<xs:restriction base="xs:string">
			<xs:enumeration value="modp1024_160" />
			<xs:enumeration value="modp2048_224" />
			<xs:enumeration value="modp2048_256" />
			<xs:enumeration value="secp192r1" />
			<xs:enumeration value="secp192r1" />
			<xs:enumeration value="secp224r1" />
			<xs:enumeration value="brainpoolp224r1" />
			<xs:enumeration value="secp256r1" />
			<xs:enumeration value="brainpoolp256r1" />
			<xs:enumeration value="brainpoolp320r1" />
			<xs:enumeration value="secp384r1" />
			<xs:enumeration value="brainpoolp384r1" />
			<xs:enumeration value="brainpoolp512r1" />
			<xs:enumeration value="secp521r1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.bitlength">
		<xs:restriction base="xs:positiveInteger">
			<xs:enumeration value="2048" />
			<xs:enumeration value="3072" />
			<xs:enumeration value="4096" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.notBlankURI">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.mandatoryprofile">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAOS" />
			<xs:enumeration value="EAC" />
			<xs:enumeration value="EID_ACCESS" />
			<xs:enumeration value="REVOKED_CARD" />
			<xs:enumeration value="EXPIRED_CARD" />
			<xs:enumeration value="NONAUTH_CARD" />
			<xs:enumeration value="RI_MIGRATION" />
			<xs:enumeration value="CRYPTO" />
			<xs:enumeration value="DG_VARIATIONS" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ics.optionalprofile">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SOAP" />
			<xs:enumeration value="SOAP_TLS" />
			<xs:enumeration value="SAML" />
			<xs:enumeration value="SAML_ATTACHED" />
			<xs:enumeration value="ESER_ATTACHED" />
			<xs:enumeration value="TLS_PSK" />
			<xs:enumeration value="TLS_ETM" />
			<xs:enumeration value="ALL_LINK" />
			<xs:enumeration value="CONF_MAX_SE" />
			<xs:enumeration value="CONF_TM_OUT" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
